1. Menjumlahkan 2 buah bilangan dan mencetak hasilnya
2. Memberikan pilihan untuk menghitung luas segitiga dan luas lingkaran
3. Menghitung rata-rata dari 3 buah data yang dimasukkan
4. Menentukan apakah umur yang di masukkan termasuk telah tua tau masih muda, dengan
aturan jika lebih kecil dari 45 masih muda dan jika umur lebih besar dari 45 sudah tua
5. Mencari Faktor Persekutuan Terbesar (FPB) dari dua buah bilangan yang dimasukkan. 

# SOAL NO 1
a = float(input("Masukkan bilangan pertama: "))
b = float(input("Masukkan bilangan kedua: "))

C = a + b

print("Hasil penjumlahan:", C)

#SOAL NO 2
'''def fungsi():
    print("rumus math")
    print("1. luas segitiga")
    print("2. luas lingkaran")
    x = input("pilih nomor 1/2: ")
    if x == "1":
        a = int(input("masukkan alas: "))
        t = int(input("masukkan tinggi: "))
        print(f"luas segitiga:", 1/2*a*t)
        fungsi()
    elif x == "2":
        phi = 3.14
        r = int(input("masukkan jari jari: "))
        print(f"luas lingkaran: ", phi*r*r)
        fungsi()
    else:
        print("pilih menu nomor 1/2: ")
fungsi()'''

#SOAL NO 3
'''a1 = float(input("Masukkan angka pertama: "))
a2 = float(input("Masukkan angka kedua: "))
a3 = float(input("Masukkan angka ketiga: "))

rata_rata = (a1 + a2 + a3) / 3

print(f"Rata-rata dari {a1}, {a2}, dan {a3} adalah {rata_rata:.2f}")'''

#SOAL NO 4
'''umur = int(input("Masukkan umur Anda: "))

if umur < 45:
    print("Anda masih MUDAA!!!")

     
else:
    print("anda sudah TUAAA!!!")'''
       
#SOAL NO 5
'''def fpb(a, b):
    while b != 0:
        a, b = b, a % b
    return a

# Input dari pengguna
a = int(input("Masukkan bilangan pertama: "))
b = int(input("Masukkan bilangan kedua: "))

# Memastikan bilangan positif
if a < 0 or b < 0:
    print("Masukkan bilangan positif!")
else:
    hasil = fpb(a, b)
    print(f"FPB dari {a} dan {b} adalah {hasil}")'''

